{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

<style>
    .loader-container {

        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .loader-demo-box {
        border-radius: 0.25rem !important;
        width: 100%;
        height: 100px;
    }

    .jumping-dots-loader {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: relative;
        margin: 0 auto;
    }

    .jumping-dots-loader span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: rgb(0, 136, 255);
        margin: 35px 5px;
    }

    .jumping-dots-loader span:nth-child(1) {
        animation: bounce 1s ease-in-out infinite;
    }

    .jumping-dots-loader span:nth-child(2) {
        animation: bounce 1s ease-in-out 0.33s infinite;
    }

    .jumping-dots-loader span:nth-child(3) {
        animation: bounce 1s ease-in-out 0.66s infinite;
    }

    @keyframes bounce {

        0%,
        75%,
        100% {
            transform: translateY(0);
        }

        25% {
            transform: translateY(-20px);
        }
    }
</style>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">

    <strong>{{ message }}</strong>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<section class="vh-100" id="htmlContent" style="background-color: rgb(255, 255, 255);margin-top: 50px;">

    <div class="container h-100" style="margin-top: 5px;">
        {% for i in sub_status %}

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-4 col-sm-12" style="text-align: left;">
                <h5>User Name: {{ i.user_name }}</h5>
            </div>
            <div class="col-md-4 col-sm-12" style="text-align: center;">
                <img src="{% static 'image/ps.png' %}" width="150" height="45" alt="">
            </div>
            <div class="col-md-4 col-sm-12" style="text-align: right;">
                <h5>Assessment Name: {{ i.assessment_name }}</h5>
            </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-4">
                {% if i.result_generate %}
                <p> <span style="font-weight: bold;">Over All accurecy of student is : </span> {{ i.final_result }}%</p>
                {% else %}
                <p> <span style="font-weight: bold;">Over All accurecy of student is : </span> "Result is not generated
                    yet."</p>
                {% endif %}

            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: right;">
                <a href="#" id="downloadPdf" class="pdf-link">Download PDF</a>
            </div>
            <script>
                const downloadPdfLink = document.getElementById('downloadPdf');

                downloadPdfLink.addEventListener('click', function (event) {
                    event.preventDefault(); // Prevent the default link behavior

                    const pdf = new jsPDF('p', 'pt', 'letter');

                    const element = document.getElementById('htmlContent');

                    const videoDivs = element.querySelectorAll('.col-md-4.video');
                    const resultDivs = element.querySelectorAll('.col-md-8.result');

                    // Hide the download link
                    downloadPdfLink.style.display = 'none';

                    // Hide video and result divs for each iteration
                    videoDivs.forEach(videoDiv => {
                        videoDiv.style.display = 'none';
                    });

                    resultDivs.forEach(resultDiv => {
                        resultDiv.classList.remove('col-md-7');
                        resultDiv.classList.add('col-md-12');
                    });

                    html2canvas(element).then(canvas => {
                        // Restore the download link and video/result divs for each iteration
                        downloadPdfLink.style.display = ''; // Restore the link visibility

                        videoDivs.forEach(videoDiv => {
                            videoDiv.style.display = '';
                        });

                        resultDivs.forEach(resultDiv => {
                            resultDiv.classList.remove('col-md-12');
                            resultDiv.classList.add('col-md-7');
                        });

                        const imgData = canvas.toDataURL('image/jpeg', 1.0);
                        pdf.addImage(imgData, 'JPEG', 0, 0, 612, 792); // Use appropriate dimensions for 'letter' size

                        pdf.save('Result.pdf');
                    });
                });
            </script>
        </div>
        {% endfor %}
        <hr>
        {% for i in sub_status %}
        {% if i.result_generate %}
        {% if i.result_generate %}
        <div class="container h-100" style="margin-top: 5px;">
            <div class="row">
                <div class="col-md-5">
                    <h2 style=" color:rgb(0, 0, 0); margin-right: 10px;">Final Result </h2>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <hr color="black">
        </div>
        {% for i in sub_status %}
        <div class="container h-100" style="margin-top: 5px;">
            <div class="row">
                <div class="col-md-5">
                    <h5 style=" color:#ff5656; margin-right: 10px;">User Name: {{ i.user_name }}</h5>
                    <h6 style=" color:#0096ff; margin-right: 10px;">Assessment Name: {{ i.assessment_name }}</h6>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-3">
                    <h5 style=" color:#ff5656;"><span style="font-weight: bold; color:#0096ff;">Over All accurecy of
                            student
                            is : </span> {{ i.final_result }}%</h5>
                </div>
            </div>
            <hr color="black">
        </div>
        {% endfor %}
        {% for i in sub_status %}
        {% for video_ans_instance in i.video_answers.all %}
        <div class="container h-100" style="margin-top: 5px;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Question {{ forloop.counter }} : </span></Question>
                                {{ video_ans_instance.question_id.quostion }}</h5>

                        </div>
                    </div>
                    <br>


                    <div class="card">
                        <div class="card-body">

                            <p> <span style="font-weight: bold;">Stored Answer : </span>
                                {{ video_ans_instance.question_id.correctanswer }}
                            </p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <video width="100%" height="60%" controls>
                                <source src="{{ url }}{{ video_ans_instance.videoAns }}" type="video/webm">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <hr color="black">
        </div>



        {% endfor %}
        {% endfor %}

    </div>

    {% else %}


    <div class="container h-100" style="margin-top: 5px;">
        <div class="row">
            <div class="col-md-5">
                <h2 style=" color:rgb(0, 0, 0); margin-right: 10px;">Final Result </h2>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <hr color="black">
    </div>
    {% for i in sub_status %}
    <div class="container h-100" style="margin-top: 5px;">
        <div class="row">
            <div class="col-md-5">
                <h5 style=" color:#ff5656; margin-right: 10px;">User Name: {{ i.user_name }}</h5>
                <h6 style=" color:#0096ff; margin-right: 10px;">Assessment Name: {{ i.assessment_name }}</h6>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
                <h5 style=" color:#ff5656;"><span style="font-weight: bold; color:#0096ff;">Over All accurecy of student
                        is : </span> {{ i.final_result }}%</h5>
            </div>
        </div>
        <hr color="black">
    </div>
    {% endfor %}
    {% for i in sub_status %}
    {% for video_ans_instance in i.video_answers.all %}
    <div class="container h-100" style="margin-top: 5px;">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Question {{ forloop.counter }} : </span></Question>
                            {{ video_ans_instance.question_id.quostion }}</h5>

                    </div>
                </div>
                <br>
                <div class="card">

                    <div class="card-body">

                        <p> <span style="font-weight: bold;">Recorded Answer :</span>
                            {{ video_ans_instance.trasnscript }}
                        </p>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">

                        <p> <span style="font-weight: bold;">Stored Answer : </span>
                            {{ video_ans_instance.question_id.correctanswer }}
                        </p>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">

                        <p style=" color:#ff5656;">Accuracy of Answer is: <span
                                style="font-weight:bold; color:#000000;">{{ video_ans_instance.answer_accurecy }} %
                            </span></p>
                        <p style=" color:#ff5656;">Confidence : <span style="font-weight:bold; color:#000000;"> {{
                                video_ans_instance.confidence }} %</span>
                            Nervousness : <span style="font-weight:bold; color:#000000;">{{
                                video_ans_instance.nervousness }} %</span>
                            Neutral_Emotions : <span style="font-weight:bold; color:#000000;">{{
                                video_ans_instance.neutral }} %</span>
                        </p>
                        <video width="100%" height="60%" controls>
                            <source src="{{ url }}{{ video_ans_instance.videoAns }}" type="video/webm">
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <hr color="black">
    </div>


    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}


    {% elif i.result_process %}
    <div class="col-md-6" style="vertical-align: middle; align-content: center;">Result genaration is in
        processing it might take some time dont close the browesr sit back and relax.</div>

    <div class="loader-container">
        <div class="loader-demo-box">
            <div class="jumping-dots-loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="moving-gradient"></div>
        </div>
    </div>

    {% else %}
    <div class="loader-container" style="display: none;">
        <div class="loader-demo-box">
            <div class="jumping-dots-loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="moving-gradient"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6" id="generate" style="vertical-align: middle;">Result is not yet generated.
                </div>
                <div class="col-md-6" id="generate_messege"
                    style="vertical-align: middle; align-content: center; display: none;">Result genaration is in
                    processing it might take some time dont close the browesr sit back and relax.</div>
                <div class="col-md-6" style="text-align: right;">

                    <form method="POST" id="formresult" action="{% url 'discr_result' %}">
                        {% csrf_token %}
                        {% for i in sub_status %}
                        <input type="hidden" name="identi" value="{{ i.identi }}">
                        {% endfor %}
                        <button class="btn btn-primary btn-lg" id="run-task-button" type="submit">Generate
                            result now !</button>
                    </form>
                    <script>
                        document.getElementById("run-task-button").addEventListener("click", function (event) {
                            event.preventDefault(); // Prevent form submission (to control the loader display)

                            var loader = document.querySelector(".loader-container");
                            var generateText = document.getElementById("generate");
                            var formResult = document.getElementById("formresult");
                            var generate_messege = document.getElementById("generate_messege");

                            loader.style.display = "block"; // Show the loader
                            generateText.style.display = "none"; // Update the text content
                            generate_messege.style.display = "block";


                            // Submit the form after a short delay to allow the loader to be displayed
                            setTimeout(function () {
                                formResult.submit();
                            }, 100);

                            formResult.style.display = "none"; // Hide the formresult element
                        });
                    </script>
                </div>
            </div>

        </div>

    </div>
    {% endif %}
    {% endfor %}
    </div>
</section>





{% endblock %}